@import "bootswatch/dist/zephyr/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/zephyr/bootswatch";

.rbt-highlight-text{
  @extend .fw-bolder;
  padding: 0;
  background: none;
  color: inherit;
}

number-flow-react::part(left),
number-flow-react::part(right),
number-flow-react::part(left)::after,
number-flow-react::part(right)::after,
number-flow-react::part(symbol) {
  padding: calc(var(--number-flow-mask-height, 0.25em) / 2) 0;
}
